<% cache @post do %>
  <div class="post">
    <%= render partial: 'post', locals: {post: @post} %>

    <hr/>

    <div class="comments">
      <% @presenter.comments.each do |comment| %>
        <% cache comment do %>
          <div id="comment-<%=comment.id%>">
            <%= comment.user.name %> says:
            <p>
              <%= comment.content %>
            </p>
          </div>
        <% end %>
      <% end %>
     </div>
  </div>
<% end %>